/*
  Site Name: 
  Author: Morgan Segura
  Stylesheet: Base
*/

@import "partials/_reset.scss"; 
@import "partials/_variables.scss";
@import "partials/_typography.scss";
@import "partials/rem.scss";
@import "partials/_functions.scss";
@import "partials/_mixins.scss";
@import "partials/_flex.scss";
@import "modules/_buttons.scss";


// Defaults
body {
  position: relative;
  background-color: #fff;
}

ul,
nav {
	list-style: none;
}

a, button {
  @include transition(all .3s ease-in-out);
  text-decoration: none;
  color: $teil;
}

h3 {
  font: 700 rem(22px) $serif;
  text-transform: uppercase;
  padding-bottom: rem(25px);  
}

h4 {
  font-family: $alternate;
  font-size: rem(15px);
  text-transform: uppercase;
  padding-bottom: rem(40px);
}

p {
  font: 400 rem(14px) $sans-serif;
  line-height: 1.7;
}
span.break {
  display: block;
}

// Animations

@keyframes fadein {
	100% {
		opacity: 1;
	}
}

@keyframes slidefade {
	100% {
		opacity: 1;
		margin: 0;
	}
}

@import "partials/_media-queries.scss";